{% extends "base.html" %}
{% load bootstrap %}
{% block title%}Create user{% endblock %}
{% block content %}
<div class="card" style="width: 30rem; float: left; margin-right: 1rem;">
    <img src="/media/{{ film.poster }}" alt="centered image">
    <div class="card-body">
        <h5 class="card-title">{{ film.title }}</h5>
        <p class="card-text">{{ film.description }}</p>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">Release date {{ film.premiere }}</li>
        <li class="list-group-item">IMDB rating {{ film.imdb_rating }}</li>
        <li class="list-group-item">Year {{ film.year }}</li>
        <li class="list-group-item">Runtime {{ extra_info.runtime }}</li>
        <li class="list-group-item">Genre {{ extra_info.genres }}</li>
    </ul>
    <div class="card-body">
        <a href="{% url 'all-movies' %}">Cofnij</a>
        <a href="{% url 'del-movie' film.id %}">
            <i class="fas fa-trash-alt"></i></a>
        <a href="{% url 'edit-movie' film.id %}"
        ><i class="fas fa-edit"></i></a>

    </div>
</div>
{% for i in rating %}
<h3>Stars: {{ i.stars }}</h3>
<p>Review: {{ i.review }}</p>
{% endfor %}
<div class="card" style="width: 50rem; float: left; margin-right: 1rem;">
    <div class="card-body">
        <h5 class="card-title">Rate movie</h5>
        <form action="{% url 'movie-view' film.id %}" method="POST">
            {% csrf_token %}
            {{ form_rating|bootstrap }}
            <button type="submit" class="btn btn-primary">Add review</button>
        </form>
    </div>
</div>
{% endblock %}